.App {
  display: flex;
  align-content: center;
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: red;
}

.subtitle {
  background-image: radial-gradient(ellipse, #7b13fc, lime);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 140%;
  margin-top: 0%;
  font-weight: light;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  background-image: radial-gradient(circle, #7b13fc, lime);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 250%;
  margin-bottom: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  text-align: left;
  line-height: 1.5;
}





.sidebar {
  width: 25%;
}

.MiddleBar {
  width: 50%;
  min-width: 350px;
}

.title{
    background-color: white;
    color: white;
    border-radius: 10vw;
}

.nav{
  background-color: lime;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeButton{
  background-color: lime;
  border-color: transparent;
  font-size: 100%;
  color: #7b13fc;
  font-weight: bolder;
}
.homeButton:hover{
  background-color: #7b13fc;
  color: lime;
}

button:hover{
  background-color: white;
  color: white;
}

label{
  font-weight: bolder;
  background-color: #7b13fc;
  color: white;
  font-size: 100%;
  padding-left: .5%;
  padding-right: .5%;
  
}
input{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.priceLimitInput{
  width: 8vw;
}
.searchInput{
  width: 16vw;
}

.flexDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}