.App {
  display: flex;
  align-content: center;
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: red;
}

.subtitle {
  background-image: radial-gradient(ellipse, #7b13fc, lime);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 140%;
  margin-top: 0%;
  font-weight: light;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  background-image: radial-gradient(circle, #7b13fc, lime);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 250%;
  margin-bottom: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  text-align: left;
  line-height: 1.5;
}





.sidebar {
  width: 25%;
}

.MiddleBar {
  width: 50%;
  min-width: 350px;
}

.title{
    background-color: white;
    color: white;
    border-radius: 10vw;
}